<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        /* footer{
            position: fixed;
            bottom: 0;
        } */
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
       <!-- footer -->
       <footer>
        <div class="social-links">
            <i class="ri-facebook-fill"></i>
            <i class="ri-phone-fill"></i>
            <i class="ri-map-pin-2-fill"></i>
            <i class="ri-mail-fill"></i>
        </div>
        <div class="page-links">
            <a href="/profile">Home</a>
            <a href="/profile/#services">Services</a>
            <a href="/profile/#about">About</a>
            <a href="/profile/#contact">Contact</a>
            <a href="/solveproblem">Solve Problem</a>
        </div>
    </footer>
</body>
</html>