<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>AdminLogin _ Farmer's Space</title>
  <link rel="stylesheet" href="/stylesheets/signup.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="form_wrapper">
  <div class="form_container">
    <div class="title_container">
        <h1 style="font-size: 20px;">Welcome to Farmer's Space</h1>
      <h2>Admin Login Form</h2>
    </div>
    <div class="row clearfix">
      <div class="">
        <form method="post" action="/adminlogin">
          
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
            <input type="text" name="username" placeholder="Username" required />
          </div>
                   
          <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
            <input type="password" name="password" placeholder="Password" required />
          </div>
         
          
            
            <!-- <div class="input_field checkbox_option">
            	<input type="checkbox" id="cb1">
    			<label for="cb1">I agree with terms and conditions</label>
            </div> -->
          
          <input class="button" type="submit" value="Login" />
        </form>
        <a href="/forget">Forget password ?</a><br><br>
        <!-- <a href="/signup">Don't have a account ?</a> -->
      </div>
    </div>
  </div>
</div>
<!-- partial -->
  <script src='https://use.fontawesome.com/4ecc3dbb0b.js'></script>
</body>
</html>
