<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
    <div id="main">
        <div class="container">
            <div class="left">
                <div class="top-left">
                    <h1 id="logo">Farmer's Space</h1>
                    <div class="links">
                        <a href="/profile"><i class="ri-home-3-line"></i>Home</a>
                        <a href="/dashboard-profile"><i class="ri-user-line"></i>Profile</a>
                        <a href="/dashboard-order"><i class="ri-shopping-bag-3-line"></i>Order</a>
                        <a href="/profile/#contact"><i class="ri-contacts-book-2-line"></i>Contact</a>
                        <a href="/profile/#services"><i class="ri-book-3-line"></i>Services</a>
                        <a href="/dashboard-message"><i class="ri-message-line"></i>Messages</a>
                   </div>
                </div>
                <div class="bottom-left">
                    <img src="https://images.unsplash.com/photo-1674851993254-15766f31879f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt=""> <h4>Asiya Khan</h4>
                </div>
            </div>
            <div class="right">
                <div class="right-nav">
                    <div class="right-nav-top">
                        <h1>My Profile</h1>
                        <a href="#"><button class="btn">Log Out</button></a>
                    </div>
                </div>
                <div id="profile-page">
                    <div class="left">
                        <h1>Welcome, <span>Asiya.</span></h1>
                        <h2>Farmer</h2>
                        <div class="acc-dets">
                            <h3>Account Details</h3>
                            <form action="">
                                <div class="form-group sm">
                                    <label for="message">
                                        Full Name
                                    </label>
                                    <textarea name="" class="form__field" id="" cols="30" rows="1" placeholder="Asiya Khan"></textarea>    
                                </div>
                                <div class="form-group sm">
                                    <label for="message">
                                        Email Address
                                    </label>
                                    <textarea name="" class="form__field" id="" cols="30" rows="1" placeholder="asiya10@gmail.com"></textarea>    
                                </div>
                                <div class="form-group sm">
                                    <label for="message">
                                        Phone Number
                                    </label>
                                    <textarea name="" class="form__field" id="" cols="30" rows="1" placeholder="+91 9182901101"></textarea>    
                                </div>
                                <div class="form-group sm">
                                    <label for="message">
                                        Pin Code 
                                    </label>
                                    <textarea name="" class="form__field" id="" cols="30" rows="1" placeholder="425267"></textarea>    
                                </div>
                                <div class="form-group lg">
                                    <label for="message">
                                        Full Address
                                    </label>
                                    <textarea name="" class="form__field" id="" cols="30" rows="1" placeholder="23-A Minal Residency, Ayodhya Bypass, Bhopal, Madhya Pradesh"></textarea>    
                                </div>
                                <div class="form-group lg">
                                    <label for="message">
                                        Farm Address
                                    </label>
                                    <textarea name="" class="form__field" id="" cols="30" rows="1" placeholder="2-A Ground Ayodhya Bypass, Bhopal, Madhya Pradesh"></textarea>    
                                </div>
                                <a href="#"><button class="btn">Save</button></a>
                            </form>
                        </div>
                    </div>
                    <div class="right">
                        <form action="">
                            <div class="profile-img">
                                <img src="https://images.unsplash.com/photo-1674851993254-15766f31879f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
                                <a href=""><i title="edit-profile" class="ri-edit-circle-fill"></i></a>
                            </div>
                        </form>
                        <div class="dets">
                            <h2>Asiya Khan</h2>
                            <p>Farmer</p>
                            <h4>Username: <span>as112</span></h4>
                            <h4>Email: <span>asiya10@gmail.com</span></h4>
                            <h4>Aadhar number: <span>4219 8097 8290</span></h4>
                            <h4>Mobile number: <span>+91 9182901101</span></h4>
                            <h4>Address: <span>23-A Minal Residency, Ayodhya Bypass, Bhopal, Madhya Pradesh, 425267</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</body>
</html>