<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    <title>Document</title>
</head>
<body>
        <div class="app-container">
            <div class="sidebar">
              <div class="sidebar-header">
                <h1>Logo</h1>
               </div>
              <ul class="sidebar-list">
                <li class="sidebar-list-item">
                  <a href="index.html">
                    <i class="ri-home-3-line"></i>
                    <span>Home</span>
                  </a>
                </li>
                <li class="sidebar-list-item ">
                  <a href="/dashboard">
                    <i class="ri-user-3-line"></i>
                    <span>Profile</span>
                  </a>
                </li>
                <li class="sidebar-list-item">
                  <a href="/order">
                    <i class="ri-shopping-bag-3-line"></i>
                    <span>Order</span>
                  </a>
                </li>
                <li class="sidebar-list-item">
                  <a href="/contact">
                    <i class="ri-phone-fill"></i>
                    <span>Contact</span>
                  </a>
                </li>
                <li class="sidebar-list-item">
                  <a href="/menu">
                    <!-- <i class="ri-book-2-line"></i> -->
                    <i class="ri-book-read-line"></i>
                    <span>Menu</span>
                  </a>
                </li>
                <li class="sidebar-list-item">
                  <a href="/cart">
                    <i class="ri-shopping-cart-line"></i>
                    <span>My Cart</span>
                  </a>
                </li>
              </ul>
              <div class="account-info">
                <div class="account-info-picture">
                  <img src="https://images.unsplash.com/photo-1527736947477-2790e28f3443?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE2fHx3b21hbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="Account">
                </div>
                <div class="account-info-name">MY NAME</div>
              </div>
            </div>


              <div class="app-content">
                <div class="app-content-header">
                 <div class="app-icon">
                   <i class="ri-menu-line"></i>
                 </div>
                  <h1 class="app-content-headerText">My Order</h1>
                  <button class="mode-switch" title="Switch Theme">
                    <i class="ri-moon-fill"></i>
                  </button>
                  <button class="btn"><a href="">Log Out</a></button>
                </div>
                <div class="app-content-actions">
                  <div class="app-content-search">
                    <i class="ri-search-2-line"></i> <input class="search-bar" placeholder="Search..." type="text">               
                  </div>
                    <div class="app-content-actions-wrapper">
                      <div class="filter-button-wrapper">
                        <button class="action-button filter jsFilter"><span>Filter</span><i class="ri-filter-line"></i></button>
                        <div class="filter-menu">
                          <label>Category</label>
                          <select>
                            <option>All Categories</option>
                            <option>Furniture</option>                     
                            <option>Decoration</option>
                            <option>Kitchen</option>
                            <option>Bathroom</option>
                          </select>
                          <label>Status</label>
                          <select>
                            <option>All Status</option>
                            <option>Active</option>
                            <option>Disabled</option>
                          </select>
                          <div class="filter-menu-buttons">
                            <button class="filter-button reset">
                              Reset
                            </button>
                            <button class="filter-button apply">
                              Apply
                            </button>
                          </div>
                        </div>
                      </div>
                      <button class="action-button list active" title="List View">
                        <i class="ri-list-unordered"></i>
                      </button>
                      <button class="action-button grid" title="Grid View">
                        <i class="ri-grid-fill"></i>
                      </button>
                    </div>
                </div>
                
                <div  id="order" class="products-area-wrapper tableView">
                  <div class="products-header">
                    <div class="product-cell image">
                      &nbsp;&nbsp;Items
                      <button class="sort-button">
                        <i class="ri-arrow-up-down-line"></i>
                      </button>
                    </div>
                    <div class="product-cell category">Category
                      <button class="sort-button">
                          <i class="ri-arrow-up-down-line"></i>
                        </button>
                      </div>
                      <div class="product-cell details">Details<button class="sort-button">
                        <i class="ri-arrow-up-down-line"></i>
                      </button></div>
                    <div class="product-cell price">Price<button class="sort-button">
                      <i class="ri-arrow-up-down-line"></i>
                    </button></div>
                  </div>
  
                <% product.forEach(function(elem){%>
                    <div class="products-row">
                        <div class="product-cell image">
                          <img src="/images/uploads/<%=elem.addfoodPic%>" alt="product">
                          <span><%=elem.name%></span>
                        </div>
                      <div class="product-cell category"><span class="cell-label">Category:</span><%=elem.type%></div>
                      <div class="product-cell details"><span class="cell-label">Details:</span>Small</div>
    
                      <div class="product-cell price"><span class="cell-label">Price:</span>₹ <%=elem.price%></div>
                    </div>
               <% })%>
                  
                  
                </div>
              </div>
    </div>

    <script src="dashboard.js"></script>
</body>
</html>